<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Mino_Calculatrice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">

  <div class="calculator">
    <div class="display">
      <span *ngIf="result!==''">({{result}})</span> {{calc || '0'}}
    </div>
    <div class="operateurs">
      <button (click)="opdateCalc('/')">/</button>
      <button (click)="opdateCalc('*')">*</button>
      <button (click)="opdateCalc('+')">+</button>
      <button (click)="opdateCalc('-')">-</button>
      <button (click)="deleteval()">DEL</button>
      <button (click)="resetval()">ON</button>
    </div>
    <div class="digits">
      <ng-container *ngFor="let i of digits">
        <button (click)="opdateCalc(i)">{{i}}</button>
      </ng-container>
      <button (click)="opdateCalc('0')">0</button>
      <button (click)="opdateCalc('.')">.</button>
      <button (click)="calculate()">=</button>
    </div>
  </div>

</ion-content>
