#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.content{
display: flex;
align-items: center;
justify-content: center;
padding: 16px;
}
.calculator{
  width: 100%;
  max-width: 400px;
  background-color: #FFF;
  border-radius: 6px;
  overflow: hidden;
}
.display{
  padding: 16px;
  text-align: right;
  background-color: black;
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
}
.display span{
  font-size: 14px;
  color: #888;
}
button{
  appearance: none;
  height: 80px;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}
button:hover{
  opacity: 0.9;
}
.operateurs{
  display: flex;
}
.operateurs button{
  flex: 1 1 0%;
  background-color: rgb(37, 153, 128);
  font-weight: 700;
}
.digits{
  display: flex;
  flex-wrap: wrap;
}
.digits button{
  flex: 1 1 33.333%;
  max-width: 33.3333%;
  background-color: darkcyan;
}
